<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
    </head>

    <body>

        <header>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <label for="city" id="city-label">Destination:</label><br>
                <input id="city" type="text" name="city" placeholder="Type in your destination..." required><br>
                <label for="start">Start Date:</label><br>
                <input type="date" id="start" name="start"><br>
                <label for="end">End Date:</label><br>
                <input type="date" id="end" name="end"><br><br>
                <input id="submit" type="submit" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
        </header>

        <main>
            <section id="results">
                <h1 id="city-name"></h1>
                <img id="city-img">
                <section id="weather">
                    <div id="day1">
                        <p id="date1"></p>
                        <img id="ico1">
                        <p id="high1"></p>
                        <p id="low1"></p>
                    </div>
                    <div id="day2">
                        <p id="date2"></p>
                        <img id="ico2">
                        <p id="high2"></p>
                        <p id="low2"></p>
                    </div>
                    <div id="day3">
                        <p id="date3"></p>
                        <img id="ico3">
                        <p id="high3"></p>
                        <p id="low3"></p>
                    </div>
                    <div id="day4">
                        <p id="date4"></p>
                        <img id="ico4">
                        <p id="high4"></p>
                        <p id="low4"></p>
                    </div>
                    <div id="day5">
                        <p id="date5"></p>
                        <img id="ico5">
                        <p id="high5"></p>
                        <p id="low5"></p>
                    </div>
                    <div id="day6">
                        <p id="date6"></p>
                        <img id="ico6">
                        <p id="high6"></p>
                        <p id="low6"></p>
                    </div>
                    <div id="day7">
                        <p id="date7"></p>
                        <img id="ico7">
                        <p id="high7"></p>
                        <p id="low7"></p>
                    </div>
                </section>
            </section>
        </main>

        <footer>
            <p>Project by <a href="https://de.linkedin.com/in/tatjana-aha" target="_blank">Tatjana Aha</a></p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>