@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

$one: #0D1321;
$two: #1D2D44;
$three: #3E5C76;
$four: #98b6dc;
$five: #F0EBD8;
$text: 'Ubuntu Condensed', sans-serif;
$result: 'Lilita One', cursive;
$heading: 'Marck Script', cursive;

body {
    font-family: $text;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $five;
    color: $one;
}

main {
    flex: 2;
    color: $two;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
    h1 {
        font-size: 60px;
        visibility: hidden;
        margin-bottom: -10px;
        font-family: $heading;
    }
    #weather {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            margin: -15px 10px 10px 5px;
            box-shadow: 0px 0px 0px $two;
        }
    }
    div {
        font-size: 18px;
        text-align: center;
        margin-top: -5px;
        font-family: $result;
        color: $two;
    }
    p {
        padding: 10px;
        margin-top: -15px;
        margin-bottom: -10px;
    }
    img {
        display: block;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: 5px 5px 5px $one;
    }
}

// small & medium screens
@media (max-width: 1070px)  {
    section {
        h1 {
            font-size: 35px;
        }
        #weather {
            flex-direction: column;
            justify-content: center;
            img {
                margin: -20px auto 10px 0px;
            }
        }
        div {
            margin-bottom: 40px;
        }
        img {
            margin: 30px auto 50px;
            width: 100%;
            height: auto;
        }
    }
}