@import 'base';

form {
    border-radius: 10px;
    padding: 20px;
    background-color: $four;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 5px 5px $one;
}

input {
    padding: 5px 20px;
    width: 80%;
    line-height: 16px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 15px;
}

#city {
    width: 150%;
}

#city-label {
    width: 40%;
}

label {
    width: 50%;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

#submit {
    background-color: $one;
    border: 2px solid $one;
    border-radius: 5px;
    color: $five;
    font-size: 18px;
    margin-left: 20px;
    width: 10%;

    &:hover {
        background-color: $two;
        border: 2px solid $two;
        cursor: pointer;
    }
}

// small & medium screens
@media (max-width: 1070px) {
    form {
        flex-direction: column;
    }
    label {
        text-align: center;
        margin-left: 0px;
    }
    #city {
        width: 80%;
    }
    #submit {
        width: auto;
        margin: 0 auto;
    }
}